<section id="text">
  
<div id="home">
  <div class="image">
    <%= image_tag("Avatar.jpg", alt: "avatar", class: "rounded-circle") %> 
  </div>
  <h1 class="title">Hi, I'm Grant! </h1>
  <p class="lead">"I'm a software Developer from Los Angeles. This is a website I created to talk about technology!"</p>
</div>
</section>
