
  <div id="logo">
    <a href="/" title="home">
      <%= image_tag("logo.png", alt: "gift logo") %> 
      <h1>Grant Cottle</h1>
      <p class="subtitle">interesting topics about software</p>
    </a>
  </div>
   <%= render "layouts/navbar" %>
